#game-board{
    width: 480px;
    height: 480px;
    background-color: black;
}

.square{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-1{
    background-color: rgb(110, 110, 98);
}

.color-2{
    background-color: rgba(166, 75, 75, 0.68);
}